*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

#inicio{
    margin: 0px;
    background-image: url(/assets/img/Background.jpg);
    background-size:cover;
}

#margemenu{
    margin-right: 150px;
}

#logo{
 margin-top: 4px;
 margin-left: 100px;
 margin-right: 200px;
}

h1{
  margin-top: 90px;
  font-size: 4.5cm;
  color: white;
  font-family: 'Birthstone', cursive;
  justify-items: center;
}

.container{
    display: flex;
    justify-content: center;
}

.fonte4{
    background-color: #347F9B;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.position1{
    justify-items: center;
    position: absolute;
    margin-top: 385px;
    font-size: 20px;
}

.position2{
    position: absolute;
    margin-top: 420px;
    font-size: 20px;
}

.textoinicio{
    position: absolute;
    width: 600px;
    margin-top: 500px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
}

.divisoria1{
    height: 50px;
    background-color: #347F9B;
}

.margin{
    margin: 10px;
}

.marginspan{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    color: white;
    text-decoration: none;
}

#bloco-1{
    margin:0px
}

#bloco-3{
    margin: 0px;
}

#bloco-4{
    margin: 0px;
}

#bloco-5{
    margin: 0px;
}

#bloco-6{
    margin: 0px;
}

.grid1{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.bloco{
    height: 75px;
    width: 100%;
    background-color: #030407;
    z-index: 1;
}

.fixed{
   position: fixed;
   top:0px;
}

.bloco2{
    margin-top: 75px;
    height: 680px;
    text-align: center;
}
.bloco3{
    height: 700px;
}

.bloco4{
    height: 600px;
    background-color: #347F9B;
}

.bloco5{
    height: 600px;
}

.bloco6{
    height: 250px;
    background-color: #4c707e86;
}

/*body > div:nth-of-type(odd) {
	background: #040d1c;
}*/

.fonte1{
    padding-top: 25px;
    color:white;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}

.fonte2{
    padding-top: 5px;
    color: white;
    text-align:right;
    font-size: 17px;
    font-family: monospace;
}

.fonte3{
    padding-top: 25px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

.menu1::after{
    content:'';
    position: absolute;
    bottom: 1.5rem;
    left: 43%;
    width: 0px;
    height: 0.1rem;
    background: rgba(236, 118, 21, 0.993);
    transition: all 300ms ease-in-out;
}

.menu1:hover::after{
    width: 4.2%;
    left: 43%;
}

.menu2::after{
    content:'';
    position: absolute;
    bottom: 1.5rem;
    left: 53.2%;
    width: 0px;
    height: 0.1rem;
    background: rgba(236, 118, 21, 0.993);
    transition: all 300ms ease-in-out;
    }
    
.menu2:hover::after{
width: 8.5%;
left: 53.2%;
}

.menu3::after{
    content:'';
    position: absolute;
    bottom: 1.5rem;
    left: 67%;
    width: 0px;
    height: 0.1rem;
    background: rgba(236, 118, 21, 0.993);
    transition: all 300ms ease-in-out;
    }
    
.menu3:hover::after{
width: 5.5%;
left: 67%;
}

.menu4::after{
    content:'';
    position: absolute;
    bottom: 1.5rem;
    left: 78%;
    width: 0px;
    height: 0.1rem;
    background: rgba(236, 118, 21, 0.993);
    transition: all 300ms ease-in-out;
    }
    
.menu4:hover::after{
width: 8.5%;
left: 78%;
}

.a{
    text-decoration: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 100px 100px;
}


.faleconosco{
    grid-column: 4/6;
    grid-template-rows: 100px;
}

.gap2{
    row-gap: 10px;
}

.contato{
    grid-column: 3/6;
    grid-template-rows: 100px;
    padding-top: 35px;
}

.tituloblog{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    font-family: 'PT Serif', serif;
    color: #E48E33;
}

.blocoblog{
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 60px 40px 0px 40px;
    justify-items: center;    
}

.botaoblog{
    justify-items: center;
    margin-top: 80px;
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    background-color: #E48E33;
    color: white;
}

/* fazer um hover para o botaoblog */

.legendapost1{
text-align: center;
    margin-top: 10px;
    text-align: justify;
    color: #347F9B;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    font-size: 13px;
}

.legendapost2{
    text-align: justify;
    color: #34809bc5;
    font-family: 'PT Serif', serif;
    font-size: 12px;
}

.imgblog{
    max-width: 300px;
}

.imgblog:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.email{
    object-fit: contain;
}

.tituloquemsomos{
    margin-top: 0px;
    text-align: center; 
    font-size: 35px;
    font-family: 'PT Serif', serif ;
    color: white
}

.textoquemsomos{
    position: absolute;
    justify-items:center;
    text-align: justify; 
    margin: 20px 100px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 19px;
}

